@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait) {

  .homepage {
    /* background-color: gray; */
    height: 100vh;
    position: relative;
  }

  .homepage-header {
    margin: 5px;
    padding: 5px;
  }

  .homepage-header h1 {
    font-family: 'Righteous', cursive;
    font-size: 22vw;
    margin: 0;
    line-height: 12vh;
    z-index: 10;
  }

  .homepage-subheader {
    margin: 5px;
    padding: 5px;
  }

  .homepage h3 {
    font-family: 'Archivo', sans-serif;
    font-size: 3vh;
    margin: 0px 15px 0px 0px;
    line-height: 3vh;
    z-index: 10;
  }

  .homepage svg {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 0;
    bottom: 0;
    width: 100%;
  }

}
